.popup__button {
  width: 358px;
  min-height: 50px;
  border: none;
  margin: 48px auto 37px;
  padding: 0;
  background-color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  cursor: pointer;
  transition: .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .popup__button {
    width: 238px;
    min-height: 46px;
    margin: 45px auto 25px;   
  }
}