.elements {
  max-width: 880px;
  /*height: 800px;*/
  margin: 50px auto 0;
  display: grid;
  /*grid-template-columns: repeat(3, fit-content(282px));
  grid-template-rows: repeat(2, fit-content(361px));*/
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  border: 1px solid white;
  gap: 20px 17px;
}