.popup__close-img {
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: .3s ease;
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.popup__close-img:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .popup__close-img {
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0;
    background-size: 90%;
  }
}