.profile__info {
  max-width: 336px;
  /*display: flex;
  flex-wrap: wrap;
  align-content: center;*/
  display: grid;
  grid-template-columns: 294px 50px;
  margin-top: 22px;
  margin-bottom: 25px;
  gap: 16px 0;
}