.popup__container-img {
  width: 430px;
  /*border: 1px solid white;*/
  border-radius: 10px;
  background-color: white;
  position: relative;
}

@media screen and (max-width: 768px) {
  .popup__container-img {
    width: 282px;
  }
}