.popup__input-img {
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-left: 36px;
  width: 358px;
  min-height: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input-img:last-of-type {
  margin-top: 30px;
}

.popup__input-img:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .popup__input-img {
    width: 238px;
    margin-left: 22px;
  }
}